.container-cart{
    margin: 3rem;
    min-height: 60vh;
    h1{
        text-align: center;
        margin-bottom: 2rem;
    }    
}
.container-cardContenido{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
    img{
        width: 5rem;
    }
    h2{
        text-align: center;
    }
}
.container-contenidoCarrito{
    display: flex;
}
.container-resumenCompra{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 2rem;
    p{
        font-size: 1.5rem;
        margin: 0.5rem;
    }
    a{
        align-self: center;
        margin: 1rem 0;
    }
    h3{
        font-size: 1.2rem;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;      
    }
}
.cart-info{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.total-price{
    h2{
        text-align: end;
        margin-right: 5%;
        font-size: 2rem;
    }
    span{
        color:#F22973;
    }
}

//BOTONES
.btn-carrito{
    font-size: 1.8rem;
    margin: 1rem 1rem 1rem 0;
}
.btn-important{
    color: black;
    box-shadow: 2px 2px 2px rgb(192, 188, 188);
}
.btn-second{
    color: #F22973;
    background-color: #ffffff;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 5%;
}
.detail-container{
    p{
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 5%;
        padding-top: 0;
    }
}

//RESPONSIVE
@media (max-width: 800px){
    .cart-info{
        h2{
            font-size: 1.2rem;
        }
    }
    .container-contenidoCarrito{
        display: block;
    }
}