.btn{
    span{
        border-radius: 18px;
        border: 2px solid white;
        color: #F22973;
        position: absolute;
        top: 2px;
        right: 2px;
        padding: 12px;
        font-size: 10px;
    }
}