.container-cart{
    margin: 3rem;
    min-height: 60vh;
    h1{
        text-align: center;
        margin-bottom: 2rem;
    }    
}
.container-cardContenido{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
    img{
        width: 5rem;
    }
    h2{
        text-align: center;
    }
}
.container-contenidoCarrito{
    display: flex;
}
.container-resumenCompra{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    border-radius: 10px;
    padding: 2rem;
    p{
        font-size: 1.5rem;
        margin: 0.5rem;
        margin-left: 5%;
    }
    a{
        align-self: center;
        margin: 1rem 0;
    }
    h3{
        font-size: 1.2rem;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;      
    }
}
.cart-info{
    text-align: center;
    font-size: 1.3rem;
    width: 35%;
}
.total-price{
    h2{
        text-align: end;
        margin-right: 5%;
        font-size: 2rem;
    }
    span{
        color:#F22973;
    }
}
.detail-container{
    p{
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 5%;
        padding-top: 0;
    }
}
.cart-list-container{
    margin: 40px auto;
    list-style: none;
    a{
        display: flex;
        justify-content: center;
    }
    h4{
        color: #7C7874;
        text-align: center;
        font-weight: bold;
    }
    button{
        color: white;
        font-weight: bold;
        background-color: #F22973; 
        border-radius: 17px;
        box-shadow: 2px 2px 2px #c0bcbc;
    }
    button:hover{
        color:#F22973;
        background-color: white; 
        box-shadow: 2px 2px 2px #c0bcbc;
    }
}
.container{
    .row{
        li{
            justify-content: center;
        }
    }
}
.cart-item-container{
    button{
        padding: 6px 10px;
        font-size: 12px;
        color: white;
        border-radius: 50%;
        background-color: #F22973;
        border: none;
        box-shadow: 2px 2px 2px #c0bcbc;
    }
} 
.product-cart-img{
    height: 100%;
    margin: 0 auto;
}
.product-cart-img-container{
    img{
        height:280px;
        padding: 5px;
        margin-right: 15px;
        border-radius: 17px;
    }
}
.cart-item-container{
    justify-content: center;
    align-items: center;
    display: flex;
}

//BOTONES
.btn-carrito{
    font-size: 1.8rem;
    margin: 1rem 1rem 1rem 0;
}
.btn-important{
    color: black;
    box-shadow: 2px 2px 2px rgb(192, 188, 188);
}
.btn-second{
    color: #F22973;
    background-color: #ffffff;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 5%;
}
.cart-buttons{
    display: grid;
    button{
        margin-bottom: 60%;
    }
}
//RESPONSIVE
@media (max-width: 576px){
    .cart-list-container{
        width: 100%;
        margin: 30px auto;
    }
    .cart-info{
        width: 80%;
    }
}  
@media (max-width: 800px){
    .cart-info{
        h2{
            font-size: 1.2rem;
        }
    }
    .container-contenidoCarrito{
        display: block;
    }
}
