.container-checkOut{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 70%;
    margin: 1rem auto ;
    justify-content: center;
    align-content: center;
    img{
        width: 10rem;
    }
    h1{
        text-align: center;
    }
}
.container-compra{
    p{
        font-size: 1.5rem;
    }
    span{
        font-weight: bolder;
    }
} 
.container-ItemsCompra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 2rem;
    div{
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 1rem;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-bottom: 1px solid #F22973;;
    }
}

//RESPONSIVE
@media (min-width: 768px){
    .container-checkOut{
        flex-direction: row;
        column-gap: 5rem;
        align-items: flex-start;
        row-gap: 0;
    }
}