#boton_anadir{
    background:linear-gradient(180deg, rgba(252, 249, 81, 0.9) 0%, #F0BE06 100%);
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 16px;
    color: #5A5A5A;
    border: none;
    width: 30%;
    margin: 2%;
}
.boton_counter{
    display: flex;
    justify-content: space-between;
    width: 100%;
}