#boton_anadir{
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(180deg, rgba(252, 249, 81, 0.9) 0%, #F0BE06 100%);
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #5A5A5A;
}