.each-product {
    margin-bottom: 30px;
    h2{
        font-size: 24px;
        font-weight: bold;
        color: #5A5A5A;
        text-align: center;
    }
    h3{
        font-size: 24px;
    }
}
.card_show:hover .cardCapa{
    opacity: 1!important;
    visibility: visible!important;
}
.fa-cart-plus{
    background-color: white;
    font-size: 2rem;
    border: 1px solid #fff;
    transition: 1s;
    color: #F22973;
    border-radius: 50%;
    padding: 18%;
}
.fa-cart-plus:hover{
    color: white;
    transition: 1s;
    background-color: #F22973;
}
.fondoBoton{
    background: none;
    border: none;
}
.cuadriculaProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
    .card{
        border-radius: 17px 17px 17px 17px!important;
        border: none;
    }
    .card-body{
        background-color: #F3D6E1;
        border-radius: 0px 0px 17px 17px;
        border-color: none;
        button{
            float: right;
        }
    }
    .card_show{
        img{
            border-radius: 17px 17px 0px 0px;
        }
    }
}
.cardCapa{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 56%;
    background-color: rgba(75, 64, 71, 0.7);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-out;
    opacity: 0;
    visibility: hidden;
    border-radius: 17px 17px 0px 0px;
    h2{
        font-size: 40px;
        letter-spacing: 0.3rem;
        color: black;
        text-align: center;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }
}