.footer{
    background: #F3D6E1;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 2rem 0;
    padding: 1rem 0;
}
.sociales{
    display: flex;
    font-size: 2rem;
    i{
        border-radius: 50%;
        background-color: #fff;
        color: #F22973;
        border: 1px solid #fff;
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    i:hover{
        color: #5A5A5A;
        box-shadow: 2px 2px 2px rgb(192, 188, 188);
    }
    button{
        font-size: 2.5rem;
        padding: 0.5rem;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        color: #F22973;
        cursor: pointer;
        box-shadow: 2px 2px 2px rgb(192, 188, 188);
        justify-content: space-around;
    }
    button:hover{
        color: white;
        transition: 1s;
    }
}
.copy{
    text-align: center;
    padding-top: 2%;
}
.tituloFooter{
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
}