.presentacion{
    background-image: url(../../assets/img/marquisse_fondo.jpg);
    background-size: cover;
    background-position: center center;
    border: none;
    padding-top: 5%;
    height: 100%;
    h1{
        width: 20%;
        top: 32%;
    }
    p{
        height: 78px;
        width: 40%;
        left: 5%;
        padding-left: 5%;
        font-size: 23px;
        color: #5A5A5A;
    }
}

//MENU LISTADO PRODUCTOS
.menuListado{
    display: flex;
    padding-bottom: 2%;
    justify-content: space-around;
    border: none;
    background-color: transparent;
    ul{
        width: 50%;
    }
    li:hover{
        color: #F22973;
    }
    li{
        list-style: none;
        text-align: center;
        color: #5A5A5A;
        display:inline;
        padding: 2%;
    }
}