.presentacion{
    background-image: url(../../assets/img/marquisse_fondo.jpg);
    background-size: cover;
    background-position: center center;
    padding-bottom: 50%;
    border: none;
    h1{
        font-family: 'Lobster', cursive;
        text-align: center;
        position: absolute;
        font-size: 64px;
        line-height: 94px;
        color: #F22973;
        width: 50%;
        top: 25%;
    }
    .p_presentacion{
        width: 40%;
        left: 5%;
        padding-left: 5%;
        padding-top: 25%;
        font-size: 23px;
        color: #5A5A5A;
    }
    .b_presentacion{
        height: 59px;
        width: 247px;
        margin-left: 10%;
        justify-items: center;
        font-size: 23px;
    }
}

//MENU DE PRODUCTOS
.menu_productos{
    display: flex;
    padding-bottom: 5%;
}
.cuadricula_productos{
    padding-top: 20%;
    display: flex;
    flex-wrap: wrap;
    .card{
        border-radius: 17px 17px 17px 17px!important;
        border: none;
        .card-body{
            background-color: #F3D6E1;
            border-radius: 0px 0px 17px 17px;
            border-color: none;
            padding-bottom: 30%;
            button{
                float: right;
            }
        }
        .card_show{
            img{
                border-radius: 17px 17px 0px 0px;
            }
        }
    }
}
.producto_item {
    -webkit-transition: all .4s;
    transition: all .4s;
}