.presentacion{
    //background-image: url(../img/marquisse_fondo.jpg);
    background-size: cover;
    background-position: center center;
    padding-bottom: 15%;
    border: none;
    h1{
        font-family: 'Lobster', cursive;
        text-align: center;
        position: absolute;
        font-size: 64px;
        line-height: 94px;
        color: #F22973;
        width: 50%;
        top: 25%;
    }
    .p_presentacion{
        width: 40%;
        left: 5%;
        padding-left: 5%;
        font-size: 23px;
        color: #5A5A5A;
    }
    .b_presentacion{
        height: 59px;
        width: 247px;
        margin-left: 10%;
        justify-items: center;
        font-size: 23px;
    }
}
