//BODY
body{
  margin: 0;
  background: linear-gradient(170.21deg, #D8D8D8 7.36%, rgba(243, 214, 225, 0.9) 98.85%);
  list-style: none;
};


//FUENTES
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


//TITULOS
h1{
  font-family: 'Lobster', cursive;
  font-style: normal;
  color: #F22973;
}
h2{
  font-family: 'Lobster', cursive;
  color: #F22973;
}
h3, h4, h5, p{
  color: #5A5A5A;
  font-family: 'Montserrat', sans-serif;
}

/*
.btn{
  border-radius: 17px;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(180deg, rgba(252, 249, 81, 0.9) 0%, #F0BE06 100%);
  border: none;
  color: #5A5A5A;
}
*/
.cart-list-container{
  width: 350px;
  margin: 30px auto;
}
.cart-item-container{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 15px;
  button{
      margin-left: 15px;
      margin-right: 0;
      padding: 6px 10px;
      font-size: 12px;
  }
} 
.product-cart-img{
  height: 100%;
  margin: 0 auto;
}
.cart-info{
  width: 240px;
}
.product-cart-img-container {
  height:50px;
  width: 50px;
  padding: 5px;
  margin-right: 15px;
  background-color: #CCC5B9;
  border-radius:50%;
  text-align: center;
}

//RESPONSIVE
@media (max-width: 576px){
  .cart-list-container{
      width: 100%;
      margin: 30px auto;
  }
  .cart-info{
      width: 80%;
  }
}
