.container-item-detail{
    margin: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    img{
        width: 90%;
    }
    h1{
        font-size: 3rem;
        letter-spacing: 0.2rem;
    }
    p{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}
.price-detail{
    font-weight: bold;
}

//BOTONES
.button-item-detail{
    margin: 2rem 0 2rem 0;
    font-size: 2rem;
    border-radius: 0.8rem;
    height: 5rem;
    width: 15rem;
    background-color: #F22973;
    border-color: #F22973;
    color: #ffff;
    border-style: solid;
}
.button-item-detail:hover{
    background-color: #fff;
    color: #F22973;
    transition: 1s;
}
.buttons-item-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

//ICONOS
.icon-item-detail {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #fff;
    color: #F22973;
    border: 1px solid #F22973;
    margin-top: 1rem;
}
.icon-item-detail:hover{
    background-color: #F22973;
    color: #fff;
    transition: 1s;
}

//RESPONSIVE
@media (min-width: 678px){
    .container-item-detail{
        margin: 5rem 2rem;
        display: flex;
        flex-direction: row;
        text-align: left;
        img{
            width: 40%;
        }
        button{
            align-items: flex-start;
        }
        p{
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
        }
    }
    .container-item-detail img:hover{
        transform: scale(1.04);
        transition: transform .5s ease
    }
    .button-item-detail{
        margin: 2rem 2rem 2rem 0;
    }
    .buttons-item-detail{
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
    }
    .info-item-details{
        border-left: 1px solid #F22973;
        padding-left: 1rem;
    }
}
