.container-home{
    text-align: center;
}
.container-item-list{
    margin: 3rem ;
    display: flex;
    flex-direction: column;
}
.container-itemList{
    min-height: 50vh;
}
.links-category{
    padding-left: 8rem;
}
