.cardContainer{
    padding: 2rem;

    h2{
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 0;
        padding: 2rem 0 0 3rem;
    }
    p{
        font-size: 1.8rem;
        padding-left: 3rem;
    }
    .MuiCardMedia-root{
        height: 280px;
        padding: 0 1rem;
    }
    .MuiCardContent-root{
        padding: 0;
        text-align: start;
    }
    .cardContainer1{
        cursor: pointer;
        position: relative;
        transition: all 500ms ease-out;
        h2, p{
            text-decoration-line: none!important;
            color: #000000;
        }
        .cardHover{
            h2{
                font-size: 4rem;
                font-family: cursive;
                letter-spacing: 0.3rem;
                color: black;
                text-align: center;
                padding: 0;
            }
        }
        :hover .cardHover{
            opacity: 1!important;
            visibility: visible!important;
        }
    }
    .cardContainer2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;
        p{
            font-weight: bold;
            color: black;
        }
        .MuiButtonBase-root{
            margin: 0;
            padding: 0 ;
            display: flex;
        }
    }
}
.iconItem{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #F22973;
    color: #fff;
    border: 1px solid #F22973;
    cursor: pointer;
    margin-right: 2rem;
}
.single-item {
    display: flex;
    flex-direction: column;
}
.categoriaItem:hover{
    color: #F22973;
}
.categoriaItem{
    list-style: none;
    text-align: center;
    color: #5A5A5A;
    display:inline;
    padding: 2%;
}
.botonDetalle{
    background-color: none;
    float: right;
    width: 30%;
    margin: 2%;
}
a:-webkit-any-link{
    text-decoration: none;
}