.cuadriculaProductos{
    .card{
        border-radius: 17px 17px 17px 17px!important;
        border: none;
        display: flex;
        flex-direction: column;
        img{
            border-radius: 17px 17px 0px 0px;
        }
        .card-body{
            background-color: #F3D6E1;
            border-radius: 0px 0px 17px 17px;
            border-color: none;
            button{
                float: right;
            }
            h2{
                font-size: 40px;
                margin-bottom: 0.75rem;
                align-self: center;
            }
        }
        .card-img-top{
            border-radius: 17px 17px 0px 0px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            mix-blend-mode: multiply;
        }
    }
}
.productoItem{
	transition: all .4s;
    height: 280px;
    padding: 0 1rem;
}
.single-item {
    display: flex;
    flex-direction: column;
}


.categoriaItem:hover{
    color: #F22973;
}
.categoriaItem{
    list-style: none;
    text-align: center;
    color: #5A5A5A;
    display:inline;
    padding: 2%;
}
.botonDetalle{
    background-color: none;
    float: right;
    width: 30%;
    margin: 2%;
}
