nav{
    position: -webkit-sticky;
    position: sticky;
    background-color: #545454;
    a{
        color: white;
    }
    a:hover{
        color: #F22973;
    }
    button{
        background-color: transparent;
        border: none;
        font-size: 3rem;
        margin-bottom: 3rem;
        transition: 1s;
        color: white;
    }
    button:hover {
        color: white;
        transition: 1s;
    }
    #logo{
        position: absolute;
        height: 100px;
        width: 196px;
        left: 136px;
        top: 27px;
    }
}
.main-nav {
    font-weight: 700;
    font-size: 1rem;
    position: -webkit-sticky;
	position: sticky;
    top: 0;
    background-color: rgba(255,252,242,0.8);
    z-index: 1000;
}

.menu-icon {
    height: 17px;
    margin-right: 10px;
}