nav{
    position: -webkit-sticky;
    position: sticky;
    background-color: none;
    padding-top: 5%;
    a{
        color: white;
    }
    a:hover{
        color: #F22973;
    }
}
.main-nav {
    font-weight: 700;
    font-size: 1rem;
    position: -webkit-sticky;
	position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-around;
    z-index: 1000;
    background-color: none;
}
.menu-icon {
    height: 17px;
    margin-right: 10px;
}

button{
    .primary, .secondary {
    box-shadow: none;
    border: none;
    color:#FFFCF2;
    padding: 8px 12px;
    border-radius: 20px;
    margin:15px 5px 10px;
    outline: none;
    background-color:white
    }
    .primary:hover, .secondary:hover, .btn-primary:hover {
        filter: brightness(90%);
    }
    .primary:active, .secondary:active{
        filter:brightness(70%)
    }
}
#logo{
    height: 100px;
    position: absolute;
    z-index: 1000;
}