#menu{
    background-color: none;
}
.navbar{
    display: flow-root;
}
.navbar-brand{
    list-style: none;
    a{
        color: white;
        :hover{
            color: #F22973;
        }
    }
    
}
.nav-link{
    display: -webkit-inline-flex;
}

#logo{
    position: absolute;
    height: 100px;
    left: 20px;
    top: 28px;
}
#boton_logo{
    background: none;
    border: none;
}
#carrito_menu{
    background: none;
    border: none;
    margin-left: unset;
}
#boton_navbar{
    border: 1px solid white;
}
.cambioColor{
    background-color: #545454;
}