.icon-navbar{
    p{
        font-size: 1.2rem;
    }
}
.linea-carrito{
    border-left: 1px solid #F22973;
    padding-left: 1rem;
}
.navBar-card{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    width: 17rem;
    padding: 1rem;
    .btn{
        font-size: 2rem;
        margin: 1rem;   
    }
    .navBarCard-totalPrice{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.navBarCard-ItemsAdd{
    display: flex;
    flex-direction: row;
}
/*
body{
    padding-right: 0!important;
}
*/

//BOTONES
.button-carrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding-right: 1rem;
    column-gap: 0.5rem ;
}
.navBarCard-btn{
    margin-right: auto;
    margin-left: auto;
    bottom:0;
}