#logo{
    position: absolute;
    height: 100px;
    width: 196px;
    left: 136px;
    top: 27px;
}
.barra{
    .navbar-collapse{
        a{
            color: #5a5a5a;
        }
    }
}
.fondo_nav{
    background-color: #545454;
    a{
        color: white;
    }
}